<section class="py-24">
    <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
        <div class="mb-12">
            <h2 class="font-manrope text-5xl text-center font-bold text-dark dark:text-darkmode-dark mb-4">{{ .Site.Params.pricing.title }}</h2>
            <p class="text-text dark:text-darkmode-text text-center leading-6 mb-9">{{ .Site.Params.pricing.subtitle }}</p>
        </div>
        <!--Grid-->
        <div class="space-y-8 lg:grid lg:grid-cols-2 sm:gap-6 xl:gap-8 lg:space-y-0 lg:items-center">
            {{ range .Site.Params.pricing.plans }}
            <!--Pricing Card-->
            <div class="flex flex-col mx-auto w-full max-w-xl text-gray-900 rounded-2xl bg-theme-light dark:bg-darkmode-theme-light">
                {{ if .isPopular }}
                <div class="uppercase bg-dark dark:bg-darkmode-dark rounded-t-2xl p-3 text-center text-darkmode-dark dark:text-dark">
                    {{ .popularText }}
                </div>
                {{ end }}
                <div class="p-6 xl:py-9 xl:px-12">
                <h3 class="font-manrope text-2xl font-bold mb-3">{{ .name }}</h3>
                <div class="flex items-center mb-6">
                    <span class="font-manrope mr-2 text-6xl font-semibold text-dark dark:text-darkmode-dark">{{ .price }}</span>
                    <span class="text-xl text-text dark:text-darkmode-text">/ year</span>
                </div>
                
                <!--List-->
                <ul class="mb-12 space-y-6 text-left text-lg text-text dark:text-darkmode-dark">
                    {{ range .features }}
                    <li class="flex items-center space-x-4">
                        <!-- Icon -->
                        <svg class="flex-shrink-0 w-6 h-6 text-dark dark:text-darkmode-dark" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10 14.7875L13.0959 17.8834C13.3399 18.1274 13.7353 18.1275 13.9794 17.8838L20.625 11.25M15 27.5C8.09644 27.5 2.5 21.9036 2.5 15C2.5 8.09644 8.09644 2.5 15 2.5C21.9036 2.5 27.5 8.09644 27.5 15C27.5 21.9036 21.9036 27.5 15 27.5Z" stroke="currentColor" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                        <span>{{ . }}</span>
                    </li>
                    {{ end }}
                </ul>
                <a href="{{ .link }}" class="btn btn-primary">
                Purchase Plan
                <i class="fa fa-arrow-right pl-2"></i>
                </a>
                <!--List End-->
            </div>
            </div>
            {{ end }}
        </div>
        <!--Grid End-->
    </div>
</section>
