{{ define "main" }}
  {{ partial "page-header" . }}

<style>
    .price-features {
        li[data-text] {
          position: relative; /* making the .tooltip span a container for the tooltip text */
          span:after {
            content: " [?]"; /* add the [?] at the end of the <li> */
          }
          
          &:hover:before {
            display: block; /* show the tooltip on hover */
          }
          
        }
        
       a {
          text-decoration: none !important;
          color: black !important;
        }
      
        li[data-text]:before {
          content: attr(data-text); /* here's the magic */
          position: absolute;
          
          /* horizontally center */
          left: 50%;
          transform: translateX(-50%);
          
          /* move to bottom */
          top: 90%;
          margin-top: 10px;
          
          /* basic styles */
          width: 400px;
          padding: 50px 30px 30px 30px;
          background: #000;
          color: #fff;
          text-align: center;
      
          clip-path: polygon(
          0% calc(0% + 10px),
          calc(50% - 10px) calc(0% + 10px),
          50% 0,
          calc(50% + 10px) calc(0% + 10px),
          100% calc(0% + 10px),
          100% 100%,
          0% 100%
        );
      
          display: none; /* hide by default */
          z-index: 1;
        }     
      }
</style>

<section class="py-24 relative">
    <div class="w-full max-w-7xl px-4 md:px-5 lg:px-5 mx-auto mb-8">
        <div class="w-full flex-col justify-start items-start gap-12 inline-flex">
            <h2 class="w-full text-center text-gray-900 text-4xl font-bold font-manrope leading-normal">Become a Member</h2>
            <div class="w-full flex-col justify-center items-center gap-8 flex">
                <ol class="w-full flex items-center justify-center gap-8 text-xs text-gray-900 font-medium sm:text-base">
                    <li id="step-1-indicator" class="step-indicator flex relative text-center text-indigo-600 text-base font-semibold leading-relaxed justify-center after:content-[''] sm:after:w-[172px] after:w-[150px] after:border-dashed after:border after:border-indigo-600 after:inline-block after:absolute after:top-5 sm:after:left-[110px] after:left-[100px]">
                        <div class="sm:w-[176px] w-auto sm:whitespace-nowrap text-center z-10">
                            <span class="w-10 h-10 bg-indigo-600 border border-dotted border-indigo-600 rounded-full flex justify-center items-center mx-auto mb-1 text-base text-white font-bold leading-relaxed lg:w-10 lg:h-10">1</span> Select Plan
                            <h6 class="text-center text-indigo-600 text-base font-normal leading-relaxed">In Progress</h6>
                        </div>
                    </li>
                    <li id="step-2-indicator" class="step-indicator flex relative justify-center text-black text-base font-semibold after:content-['']  leading-relaxed sm:after:w-[172px] after:w-[150px] after:border-dashed after:border after:border-indigo-200  after:inline-block after:absolute after:top-5 sm:after:left-[106px] after:left-24">
                        <div class="sm:w-[176px] w-auto sm:whitespace-nowrap text-center flex flex-col z-10">
                            <span class="w-10 h-10 bg-indigo-50 rounded-full flex justify-center items-center mx-auto mb-1 text-base font-bold leading-relaxed text-indigo-600 lg:w-10 lg:h-10">2</span> Billing Information
                            <span class="text-center text-gray-500 text-base font-normal leading-relaxed">Pending</span>
                        </div>
                    </li>
                    <li id="step-3-indicator" class="step-indicator flex relative justify-center text-gray-500 text-base font-semibold leading-relaxed">
                        <div class="sm:w-[176px] w-auto sm:whitespace-nowrap text-center flex items-center flex-col z-10 ">
                            <span class="w-10 h-10 text-center text-indigo-600 text-base font-bold border-2 bg-transparent border-indigo-600 rounded-full flex justify-center items-center mx-auto mb-1 lg:w-10 lg:h-10">3</span> Confirmation
                            <span class="text-center text-gray-500 text-base font-normal leading-relaxed">Pending</span>
                        </div>
                    </li>
                </ol>
            </div>
        </div>
    </div>
            
    <!-- Step 1: Select Plan -->
    <div id="step-1" class="form-step">
        <div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
            <!-- Grid -->
            <div class="lg:auto-rows-max space-y-8 lg:grid lg:grid-cols-3 sm:gap-6 xl:gap-8 lg:space-y-0 lg:items-center">
                {{ range .Params.pricing.plans }}
                <!-- Card-->
                <input id="{{ .id }}" type="radio" name="membership" class="hidden peer/{{ .id }} {{ if .multiple }}multiple{{ end }}" value="{{ .name }}">
                <label for="{{ .id }}" class="lg:h-full cursor-pointer flex flex-col mx-auto w-full max-w-xl text-gray-900 rounded-2xl bg-theme-light dark:bg-darkmode-theme-light peer-checked/{{ .id }}:outline peer-checked/{{ .id }}:outline-offset-2 peer-checked/{{ .id }}:outline-2 peer-checked/{{ .id }}:outline-dark dark:peer-checked/{{ .id }}:outline-darkmode-dark">
                    {{ if .isPopular }}
                    <div class="uppercase bg-dark dark:bg-darkmode-dark rounded-t-2xl p-3 text-center text-darkmode-dark dark:text-dark ">
                        {{ .popularText }}
                    </div>
                    {{ end }}
                    <div class="p-6 xl:py-9 xl:px-12">
                        <h3 class="font-manrope text-2xl font-bold mb-3">{{ .name }}</h3>
                        {{ if .multiple }}
                        <p class="text-xl text-text dark:text-darkmode-text">from</p>
                        <div class="flex items-center mb-6">
                            <span class="font-manrope mr-2 text-6xl font-semibold text-dark dark:text-darkmode-dark">€{{ mul 2 .price }}</span>
                            {{ else }}
                        <div class="flex items-center mb-6">
                            <span class="font-manrope mr-2 text-6xl font-semibold text-dark dark:text-darkmode-dark">€{{ .price }}</span>
                            {{ end }}
                            <span class="text-xl text-text dark:text-darkmode-text">/ year</span>
                        </div>
 
                        <!-- List -->
                        <ul class="price-features space-y-6 text-left text-lg text-text dark:text-darkmode-dark">
                            {{ range .features }}
                            <li class="flex items-center space-x-4 tooltip" {{ if .tooltip }} data-text="{{ .tooltip }}" {{ end }}>
                                <!-- Icon -->
                                <svg class="flex-shrink-0 w-6 h-6 text-dark dark:text-darkmode-dark" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M10 14.7875L13.0959 17.8834C13.3399 18.1274 13.7353 18.1275 13.9794 17.8838L20.625 11.25M15 27.5C8.09644 27.5 2.5 21.9036 2.5 15C2.5 8.09644 8.09644 2.5 15 2.5C21.9036 2.5 27.5 8.09644 27.5 15C27.5 21.9036 21.9036 27.5 15 27.5Z" stroke="currentColor" stroke-width="1.6" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                                <!-- Icon End -->
                                <span>{{ .title }}</span>
                            </li>
                            {{ end }}
                        <!-- List End -->
                    </div>
                </label>
                <!-- Card End -->
                {{ end }}
            </div>
            <!--Grid End-->
            
            <!-- Input Number -->
            <div class="mx-auto max-w-md mt-16 py-2 px-3 border border-border dark:border-darkmode-border bg-theme-light dark:bg-darkmode-theme-light rounded-lg" data-hs-input-number>
                <div class="w-full flex justify-between items-center gap-x-3">
                <div>
                    <span class="block font-medium text-xl text-dark dark:text-darkmode-dark">
                    Members
                    </span>
                    <span class="block text-sm text-text dark:text-darkmode-text">
                    €2.000 per person
                    </span>
                </div>
                <div class="flex items-center gap-x-1.5">
                    <button type="button" class="size-12 inline-flex justify-center items-center gap-x-2 text-sm font-medium rounded-md border border-border dark:border-darkmode-border bg-theme-light dark:bg-darkmode-theme-light text-dark dark:text-darkmode-dark shadow-sm hover:bg-gray-50 focus:outline-none focus:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:hover:bg-neutral-800 dark:focus:bg-neutral-800" tabindex="-1" aria-label="Decrease" data-hs-input-number-decrement>
                    <svg class="shrink-0 size-3.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <path d="M5 12h14"></path>
                    </svg>
                    </button>
                    <input class="text-xl p-0 w-12 bg-transparent border-0 text-gray-800 text-center focus:ring-0 [&::-webkit-inner-spin-button]:appearance-none [&::-webkit-outer-spin-button]:appearance-none dark:text-white" style="-moz-appearance: textfield;" type="number" aria-roledescription="Number field" value="0" data-hs-input-number-input>
                    <button type="button" class="size-12 inline-flex justify-center items-center gap-x-2 text-sm font-medium rounded-md border border-border dark:border-darkmode-border bg-theme-light dark:bg-darkmode-theme-light text-dark dark:text-darkmode-dark shadow-sm hover:bg-gray-50 focus:outline-none focus:bg-gray-50 disabled:opacity-50 disabled:pointer-events-none dark:hover:bg-neutral-800 dark:focus:bg-neutral-800" aria-label="Increase" data-hs-input-number-increment>
                    <svg class="shrink-0 size-3.5" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <path d="M5 12h14"></path>
                        <path d="M12 5v14"></path>
                    </svg>
                    </button>
                </div>
                </div>
            </div>
            <!-- End Input Number -->
            
            <!-- Navigation Buttons -->
            <div class="space-y-8 lg:grid lg:grid-cols-2 sm:gap-6 xl:gap-8 lg:space-y-0 lg:items-center mt-16">
                <button id="prev-to-step-1" class="flex flex-col mx-auto w-full max-w-xl px-6 py-2.5 rounded-xl shadow-[0px_1px_2px_0px_rgba(16,_24,_40,_0.05)] border border-indigo-600 hover:border-transparent hover:bg-indigo-50 transition-all duration-700 ease-in-out">
                    <span class="px-2 py-px text-center text-indigo-600 text-lg font-semibold leading-8">Back</span>
                </button>
                <button id="next-to-step-3" class="flex flex-col mx-auto w-full max-w-xl px-6 py-3 bg-indigo-600 hover:bg-indigo-700 transition-all duration-700 ease-in-out rounded-xl shadow-[0px_1px_2px_0px_rgba(16,_24,_40,_0.05)]">
                    <span class="px-2 text-center text-white text-lg font-semibold leading-8">Next</span>
                </button>
            <!-- Navigation Buttons -->
            </div>
        </div>
    </div>
            
    <!-- Step 2: Company Information -->
    <div id="step-2" class="form-step">
        <div class="mx-auto max-w-7xl px-4 py-4 sm:px-6 sm:py-6 lg:px-8 lg:py-8 bg-white rounded-3xl shadow-[0px_15px_60px_-4px_rgba(16,_24,_40,_0.08)]">
            <!-- Grid -->
            <div class="space-y-8 lg:grid lg:grid-cols-2 sm:gap-6 xl:gap-8 lg:space-y-0 lg:items-center">
                <!-- Form -->
                {{ range .Params.form }}
                <div class="flex flex-col mx-auto w-full max-w-xl">
                    <label for="" class="flex gap-1 items-center text-light dark:text-darkmode-light text-base font-medium leading-relaxed">{{ .label }}
                        {{ if .required }}
                        <svg xmlns="http://www.w3.org/2000/svg" width="7" height="7" viewBox="0 0 7 7" fill="none">
                            <path d="M3.11222 6.04545L3.20668 3.94744L1.43679 5.08594L0.894886 4.14134L2.77415 3.18182L0.894886 2.2223L1.43679 1.2777L3.20668 2.41619L3.11222 0.318182H4.19105L4.09659 2.41619L5.86648 1.2777L6.40838 2.2223L4.52912 3.18182L6.40838 4.14134L5.86648 5.08594L4.09659 3.94744L4.19105 6.04545H3.11222Z" fill="#EF4444"/>
                        </svg>
                        {{ end }}
                    </label>
                    <input type="{{ .type }}" id="{{ .id }}" {{ if .required }} required {{ end }} class="w-full focus:outline-none text-gray-900 placeholder-gray-400 text-lg font-normal leading-relaxed px-5 py-3 rounded-lg shadow-[0px_1px_2px_0px_rgba(16,_24,_40,_0.05)] border border-gray-200 justify-start items-center gap-2 inline-flex" placeholder="{{ .placeholder }}">
                </div>
                {{ end }}
            </div>
            <div class="space-y-8 lg:grid lg:grid-cols-2 sm:gap-6 xl:gap-8 lg:space-y-0 lg:items-center mt-16">
                <button id="prev-to-step-1" class="flex flex-col mx-auto w-full max-w-xl px-6 py-2.5 rounded-xl shadow-[0px_1px_2px_0px_rgba(16,_24,_40,_0.05)] border border-indigo-600 hover:border-transparent hover:bg-indigo-50 transition-all duration-700 ease-in-out">
                    <span class="px-2 py-px text-center text-indigo-600 text-lg font-semibold leading-8">Back</span>
                </button>
                <button id="next-to-step-3" class="flex flex-col mx-auto w-full max-w-xl px-6 py-3 bg-indigo-600 hover:bg-indigo-700 transition-all duration-700 ease-in-out rounded-xl shadow-[0px_1px_2px_0px_rgba(16,_24,_40,_0.05)]">
                    <span class="px-2 text-center text-white text-lg font-semibold leading-8">Next</span>
                </button>
            </div>
        </div>
    </div>
            
            <!-- Step 3: Team Members -->
            <div id="step-3" class="form-step hidden">
                <div class="w-full lg:p-11 md:p-8 p-7 bg-white rounded-3xl shadow-[0px_15px_60px_-4px_rgba(16,_24,_40,_0.08)] flex-col justify-start items-start flex">
                    <div class="w-full flex-col justify-start items-start gap-8 flex">
                        <!-- Your form fields for Step 3 -->
                        <div class="w-full flex-col justify-start items-start gap-1.5 flex">
                            <label for="team-member" class="flex gap-1 items-center text-gray-600 text-base font-medium leading-relaxed">Team Member</label>
                            <input type="text" id="team-member" class="w-full focus:outline-none text-gray-900 placeholder-gray-400 text-lg font-normal leading-relaxed px-5 py-3 rounded-lg shadow-[0px_1px_2px_0px_rgba(16,_24,_40,_0.05)] border border-gray-200 justify-start items-center gap-2 inline-flex" placeholder="Team Member Name">
                        </div>
                        <!-- Other fields... -->
                        <div class="w-full flex justify-between">
                            <button id="prev-to-step-2" class="w-full px-6 py-2.5 rounded-xl shadow-[0px_1px_2px_0px_rgba(16,_24,_40,_0.05)] border border-indigo-600 hover:border-transparent hover:bg-indigo-50 transition-all duration-700 ease-in-out justify-center items-center flex">
                                <span class="px-2 py-px text-center text-indigo-600 text-lg font-semibold leading-8">Back</span>
                            </button>
                            <button id="submit-form" class="w-full px-6 py-3 bg-indigo-600 hover:bg-indigo-700 transition-all duration-700 ease-in-out rounded-xl shadow-[0px_1px_2px_0px_rgba(16,_24,_40,_0.05)] justify-center items-center flex">
                                <span class="px-2 text-center text-white text-lg font-semibold leading-8">Submit</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
</section>

{{ end }}